mat-form-field {
  width: 100%;
  margin: 10px 10px;
}
form {
  width:100%;
  height:100%;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
.montserratFont{
  font-family: 'Montserrat';
  font-weight: 700;
  color: #334D6E;
  padding-top: 5px;
}

.boxLeft{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
}
.boxRight{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
}
