<mat-sidenav-container style="background: #40c3ffab;">
    <mat-sidenav #sidenav opened="true" mode="side"
        style="width:250px;opacity: 1;background: rgba(243, 251, 254, 0.578);padding: 15px;">
        <mat-nav-list>
            <a href=" https://ibb.co/BrTMfkK">
                <img src="https://i.ibb.co/9Vy5pP3/Logo-Fondo-Blanco-Mesa-de-trabajo-1.png"
                    alt="Logo-Fondo-Blanco-Mesa-de-trabajo-1" border="0" style="width: 100%;padding-bottom: 10px;">
            </a>
            <mat-list-item *ngFor="let menu of listaMenus" [routerLink]="menu.url" style="color:#334D6E">
                <mat-icon mat-list-icon>{{menu.icono}}</mat-icon>
                <div mat-line>{{menu.nombre}}</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        align-items: center;margin-top: 10px;">
            <button mat-icon-button (click)="sidenav.toggle();" style="color:#fff">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="flex:1 1 auto;"></span>
            <label style="font-size: 14px;margin-right: 20px;margin: top 20px;color:#fff">
                {{correoUsuario}} || {{rolUsuario}}
            </label>

            <button mat-icon-button (click)="cerrarSesion()">
                <mat-icon style="color:#fff">logout</mat-icon>
            </button>
        </div>
        <div style="height:90vh;">

            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>