<p>prospecto-img works!</p>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
   
<div>
  <input (change)="capturarFile($event)" type="file">
</div>
<div>
  <button type="button" [disabled]="loading" (click)="subirArchivo">{{(loading)?'Cargando...':'Subir Archivo'}}</button>
</div>
<div *ngIf="previsualizacion">
  <img width="200px" [src]="previsualizacion" alt="">
</div>

<form [formGroup]="formularioProspecto">
  <mat-grid-list cols="1" rowHeight="120px">

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="nombre">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Fachada img</mat-label>
        <input matInput autocomplete="off" formControlName="fachadaimg">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input matInput autocomplete="off" formControlName="url">
        <mat-icon matSuffix>fit_screen</mat-icon>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Direccion</mat-label>
        <input matInput autocomplete="off" formControlName="direccion">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Contacto</mat-label>
        <input matInput autocomplete="off" formControlName="contacto">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Razon Social</mat-label>
        <input matInput autocomplete="off" formControlName="razonSocial">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>id auditor</mat-label>
        <input matInput autocomplete="off" formControlName="idauditor">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Detalle</mat-label>
        <input matInput autocomplete="off" formControlName="detalle">
        <mat-icon matSuffix>fit_screen</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>|
        <mat-select formControlName="esActivo">
          <mat-option value="1">Activo</mat-option>
          <mat-option value="0">No activo</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>