<mat-dialog-content style="min-height: 800px;width: 100%;">

  <!-----AQUI TERMINA MI CAJA DE PRUEBA -->
  <mat-tab-group headerPosition="below">
    <mat-tab label="PRESENTATION">
      <div class="card cajitaAncho">
        <div class="row g-0">
          <div class="col-md-8">
            <img src="../../../../../assets/images/{{movieListObject[0].fachadaimg}}" class="img-fluid rounded-start"
              alt="...">
          </div>
          <div class="col-md-4 montserratFont">
            <div class="card-body montserratFont">
              <h1 class="card-title montserratFont">PROPUESTA PARA:</h1>
              <h3 class="card-title ">Nombres y apellidos</h3>
              <h3 class="card-title ">{{movieListObject[0].nombre}}</h3>
              <h3 class="card-title ">Dirección</h3>
              <h3 class="card-title ">{{movieListObject[0].direccion}}</h3>
              <h3 class="card-title ">Contácto</h3>
              <h3 class="card-title ">{{movieListObject[0].contacto}}</h3>
              <h3 class="card-title ">Razón Social</h3>
              <h3 class="card-title ">{{movieListObject[0].razonSocial}}</h3>
              <h3 class="card-title">Auditor</h3>
              <h3 class="card-title">{{movieListObject[0].idauditor}}</h3>
              <h3 class="card-title">Notas</h3>
              <h3 class="card-title">{{movieListObject[0].detalle}}</h3>
              <p class="card-text"><small class="text-body-secondary">Los datos personales son tratados de forma
                  confidencial y utilizados solo por HOME ENERGY</small></p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="ONE">
      <div class="boxModal">
        <div style="display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;">
          <h3 class="card-title montserratFont">Servicios ofertados para: </h3>
          <h3 class="card-title montserratFont">{{movieListObject[0].nombre}}</h3>
        </div>
        <div style="display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;">
          <h3 class="card-title montserratFont">Dirección</h3>
          <h3 class="card-title montserratFont">{{movieListObject[0].direccion}}</h3>
        </div>
        <div style="display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;">
          <h3 class="card-title montserratFont">Pulgadas 2</h3>
          <input type="number" [(ngModel)]="pulgadasCuadradas"
            style="border-color: #334D6E;border-radius: 15px;text-align: center;" class="montserratFont">
        </div>
        <form [formGroup]="formularioServicioVenta" (ngSubmit)="agregarServicioParaVenta()">

          <mat-grid-list cols="4" rowHeight="120px">

            <mat-grid-tile [colspan]="2">

              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Servicio</mat-label>
                <input matInput type="text" placeholder="Buscar..." [matAutocomplete]="auto" formControlName="servicio">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                  (optionSelected)="servicioParaVenta($event)" [displayWith]="mostrarServicio">
                  <mat-option *ngFor="let option of listaServiciosFiltro" [value]="option">
                    {{option.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="full-width" appearance="fill" style="margin-left: 40px;">
                <mat-label>Pulgadas Cuadradas</mat-label>
                <input matInput type="number" formControlName="cantidad" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <button mat-raised-button color="primary" style="width: 80%;"
                [disabled]="formularioServicioVenta.invalid">
                <mat-icon mat-list-icon>add</mat-icon>Agregar
              </button>
            </mat-grid-tile>

          </mat-grid-list>

        </form>
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile [colspan]="2" class="montserratFont" style="height: 100%;">
            <mat-form-field class="full-width" appearance="outline" style="border: none;">
              <mat-label>Tipo de Pago</mat-label>
              <mat-select [(value)]="tipodePagoPorDefecto">
                <mat-option value="Efectivo">Contado</mat-option>
                <mat-option value="Tarjeta">Tarjeta</mat-option>
                <mat-option value="CuotasSinIni">A cuotas sin inicial</mat-option>
                <mat-option value="CuotasConIni15">Cuotas con Inicial del 15%</mat-option>
                <mat-option value="CuotasConIni25">Cuotas con Inicial del 25%</mat-option>
                <mat-option value="CuotasConIni35">Cuotas con Inicial del 35%</mat-option>
                <mat-option value="CuotasConIni45">Cuotas con Inicial del 45%</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile style="display: flex;height: 60%;">
            <button mat-raised-button color="primary" style="width: 80%;height: 40px;">
              <h3 class="textoSubtitle" style="padding: 5px;color: #fff;">TOTAL: {{totalPagar.toFixed(2)}}</h3>
            </button>
            <button mat-raised-button color="warn" style="width: 20%;height: 40px;" (click)="resetTotalPagar()">reset
            </button>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="datosDetalleVenta" class="montserratFont">

            <ng-container matColumnDef="servicio">
              <th mat-header-cell *matHeaderCellDef>Servicio</th>
              <td mat-cell *matCellDef="let element">{{element.descripcionServicio}}</td>
            </ng-container>


            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let element">{{element.cantidad}}</td>
            </ng-container>

            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">{{element.stock}}</td>
            </ng-container>

            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef>Precio</th>
              <td mat-cell *matCellDef="let element">{{element.precioTexto}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="eliminarServicio(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>
          </table>
        </div>

        <mat-grid-list cols="4" rowHeight="80px">
          <mat-grid-tile [colspan]="3"></mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button color="primary" style="width: 80%;"
              [disabled]="listaServiciosParaVenta.length<1||bloquearBotonRegistrar" (click)="registrarVenta()">
              <mat-icon>new_label</mat-icon>Registrar
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="TWO">
      <div class="boxModal">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="CASH" style="display: flex;justify-content: center;">
            <div style="display: flex;height:250px;">
              <button mat-raised-button style="width: 100%;margin-top: 100px;height: 80px;margin-bottom: 100px;color:#334D6E;
              font-family: 'Roboto';
              font-size: 18px!important;
              font-weight: 400;">
                {{totalPagar.toFixed(2)}}
              </button>
              <button mat-raised-button style="margin-top: 100px;height: 80px;" (click)="validarTipoPago()">
                <img width="30px" src="../../../../../assets/images/lupa.png">
              </button>
              <button mat-raised-button style="margin-top: 100px;height: 80px;" (click)="resetTotalPagar()">
                <img width="30px" src="../../../../../assets/images/actualizar-flecha.png">
              </button>
            </div>
            <h1 class="montserratFont">Resumen</h1>
            <!------------- <mat-card style="margin: 20px 40px 40px 40px">
              <mat-card-content>
                <div class="row">
                  <div *ngFor="let item of listaServiciosAgregadosALaOrden; trackBy:trackByItems; let i=index"
                    class="card col-12 m-3 p-0" style="max-width: 340px;max-height:200px;">
                    <h5 class="card-title">{{item.idServicio}}</h5>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>-------->
            <div class="mat-elevation-z2">
              <table mat-table [dataSource]="datosDetalleVenta" style="display: flex;padding-left: 20px;">

                <ng-container matColumnDef="servicio">
                  <th class="montserratFont" style="display: flex;" mat-header-cell *matHeaderCellDef>Servicios</th>
                  <td class="montserratFont" mat-cell *matCellDef="let element">{{element.descripcionServicio}}</td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef>Pulgadas Cuadradas</th>
                  <td class="montserratFont" mat-cell *matCellDef="let element" style="padding-left: 30px;">
                    {{element.cantidad}}</td>
                </ng-container>

                <ng-container matColumnDef="stock">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="precio">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
                  <td mat-cell *matCellDef="let element">
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasTabla"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="FINANCING" style="padding: 20px;">
            <mat-grid-list cols="2" rowHeight="500px">
              <mat-grid-tile>
                <div id="canvas" style="width: 100%;">
                  <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
                    [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)"
                    (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                  </ngx-charts-pie-chart>
                </div>

              </mat-grid-tile>
              <mat-grid-tile style="display: flex;">
                <div class="buttonsFinancing">
                  <input class="inputTotal" style="display: none;" type="text" [(ngModel)]="totalPagar">
                  <h3 class="montserratFont">TOTAL A PAGAR</h3>
                  <input class="inputTotal" type="text" [(ngModel)]="totalPagarTxt">
                  <section>
                    <button class="buttonFive" type="button" (click)="operacionFive()">5 Años</button>
                    <button class="buttonFive" type="button" (click)="operacionTeen()">10 Años</button>
                    <button class="buttonFive" type="button" (click)="operacionTweetyFive()">15 Años</button>
                    <h3 class="montserratFont">AHORRA</h3>
                    <input class="inputTotal" type="text" [(ngModel)]="totalPagarTxt">
                  </section>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div style="display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;width:100%;">

              <input class="inputTotal" style="display: none;" type="text" [(ngModel)]="totalInteres">
              <input class="inputTotal" style="display: none;" type="text" [(ngModel)]="interesxMes">
              <div style="display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: stretch;
              justify-content: space-evenly;
              align-items: baseline;">
                <h3 class="montserratFont">VALOR A CANCELAR POR INTERESES</h3>
                <input class="inputTotal" type="text" [(ngModel)]="totalInteresTxt">
              </div>
              <div style="display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: stretch;
              justify-content: space-evenly;
              align-items: baseline;">
                <h3 class="montserratFont">CUOTA MENSUAL</h3>
                <input class="inputTotal" type="text" [(ngModel)]="interesxMesTxt">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="SOLAR">
            <mat-grid-list cols="2" rowHeight="650px">
              <mat-grid-tile>
                <div class="buttonsFinancing">
                  <h3 class="montserratFont">ENERGIA ELÉCTRICA</h3>
                  <h5 class="montserratFont">PAGO MENSUAL</h5>
                  <input class="inputTotal" type="text" [(ngModel)]="facturaEE">
                  <h5 class="montserratFont">% INCREMENTO ANUAL</h5>
                  <input class="inputTotal" type="text" [(ngModel)]="porcentajeIA">
                  <section class="cajaProyeccion">
                    <div class="ustedPagara">PROYECCIÓN</div>
                    <h5 class="montserratFont">MENSUALIDADES APROXIMADAS:</h5>
                    <input class="inputTotal" type="text" [(ngModel)]="cuotasMensualesEETxt">
                    <h5 class="montserratFont">HABRÁ CANCELADO ALREDEDOR DE :</h5>
                    <input class="inputTotal" type="text" [(ngModel)]="totalPagosAnualesTxt">
                  </section>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class="contenedorSolar">
                  <div class="cajaSolar">
                    <h3 class="montserratFont">ENERGÍA SOLAR</h3>
                    <input class="inputTotal" [(ngModel)]="cuotasMensualesES">
                  </div>
                  <button class="inputSolar" type="button" (click)="calcularCuotas()">10 Años</button>
                  <button class="inputSolar" type="button" (click)="calcularCuotas15()">15 Años</button>
                  <button class="inputSolar" type="button" (click)="calcularCuotas30()">30 Años</button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
    <mat-tab label="THREE" style="max-width: 100%;">
      <h2>RELEASE OF REABILITY</h2>
      <div style="display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: space-around;
      justify-content: space-around;
      align-items: center;height: 700px;padding-left: 60px;">
        <textarea class="montserratFont" [(ngModel)]='myTextarea' rows="30" cols="100%" style="width: 100%;">
        </textarea>
      </div>
      <!--------<p>The value of the textarea field is: {{myTextarea}}"</p>------>
    </mat-tab>
    <!--------------------AQUI EMPIEZA LA SECCION SEVEN LA CUAL ES INFORMACION PARA COMPLETAR LA ORDEN-->

    <mat-tab label="FOUR" style="max-width: 100%;">
      <h2>INFORMATION ADICIONALITY </h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="{{movieListObject[0].nombre}}" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput type="text" placeholder="" formControlName="telefono">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="" formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Direccion</mat-label>
          <input matInput type="text" placeholder="{{movieListObject[0].direccion}}" formControlName="direccion"
            value="{{movieListObject[0].direccion}}">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tipo de Identificación</mat-label>
          <mat-select formControlName="tipoIdentificacion">
            <mat-option value="CC">CC</mat-option>
            <mat-option value="PERMISO">PERMISO</mat-option>
            <mat-option value="CI">CI</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Identificacion</mat-label>
          <input matInput type="number" placeholder="" formControlName="identificacion">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>socEin</mat-label>
          <input matInput type="number" formControlName="socEin" />
        </mat-form-field>



        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tamaño del Sistema</mat-label>
          <mat-select formControlName="tamanoSistema">
            <mat-option value="GRANDE">GRANDE</mat-option>
            <mat-option value="MEDIANO">MEDIANO</mat-option>
            <mat-option value="MICRO">MICRO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>pagoTotal</mat-label>
          <input matInput type="text" formControlName="pagoTotal" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>pagoInicial</mat-label>
          <input matInput type="text" formControlName="pagoInicial" />
        </mat-form-field>


        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Notas</mat-label>
          <textarea matInput cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="notas"
            placeholder="notas"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>url1</mat-label>
          <input matInput type="text" formControlName="url1" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>url2</mat-label>
          <input matInput type="text" formControlName="url2" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>url3</mat-label>
          <input matInput type="text" formControlName="url3" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>url4</mat-label>
          <input matInput type="text" formControlName="url4" />
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" style="float: right;">Guardar</button>
      </form>

      <h2>RECURSOS MULTIMEDIA </h2>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Imagen de Portada</p>
            <input type="file" (change)="capturarFile1($event)" />

            <div *ngIf="previsualizacion1">
              <img width="100%" [src]="previsualizacion1" alt="" [ngModel]="imagen1">
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display: flex;">
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Imagen Adicional</p>
            <input type="file" (change)="capturarFile2($event)" />

            <div *ngIf="previsualizacion2">
              <img width="100%" [src]="previsualizacion2" alt="" [ngModel]="imagen2">
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display: flex;">
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Imagen Adicional 2</p>
            <input type="file" (change)="capturarFile3($event)" />

            <div *ngIf="previsualizacion3">
              <img width="100%" [src]="previsualizacion3" alt="" [ngModel]="imagen3">
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display: flex;">
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Imagen Adicional 3</p>
            <input type="file" (change)="capturarFile4($event)" />

            <div *ngIf="previsualizacion4">
              <img width="100%" [src]="previsualizacion4" alt="" [ngModel]="imagen4">
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display: flex;">
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Firma del Cliente</p>
            <input type="file" (change)="capturarFile5($event)" />

            <div *ngIf="previsualizacion5">
              <img width="100%" [src]="previsualizacion5" alt="" [ngModel]="firmaCliente">
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="display: flex;">
          <div style="display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: space-around;
          align-items: stretch;">
            <p>Firma del Representante de Home Energy</p>
            <input type="file" (change)="capturarFile6($event)" />

            <div *ngIf="previsualizacion6">
              <img width="100%" [src]="previsualizacion6" alt="" [ngModel]="firmaHomeEnergy">
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="create-pdf" (click)="crearPDF()">
        <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
        <h3>GENERAR PDF</h3>
      </div>
      <form [formGroup]="formularioEmail" (ngSubmit)="enviar_Email()" style="padding-top: 5px;width: 100%;">

        <mat-form-field style="width: 80%;" appearance="fill">
          <mat-label>Emails</mat-label>
          <input matInput type="text" placeholder="" formControlName="para">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" style="float: right;width: 18%;height: 50px;">Enviar
          Email</button>
      </form>
      <p>{{date}}</p>
    </mat-tab>
    <!------  <mat-tab label="FIVE">
      <form [formGroup]="formularioEmail" (ngSubmit)="enviar_Email()" style="height:300px;">

        <mat-form-field style="width: 80%;" appearance="fill">
          <mat-label>Emails</mat-label>
          <input matInput type="text" placeholder="" formControlName="para">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" style="float: right;">Enviar Email</button>
      </form>

      <div class="create-pdf" (click)="crearPDF()">
        <mat-icon mat-list-icon>picture_as_pdf</mat-icon>
        <h3>GENERAR PDF</h3>
      </div>
      <div style="height: 450px;" (click)="crearPDF()">

      </div>
      <button mat-raised-button color="primary" type="button" style="float: left;" (click)="crearPDF()">GENERAR PDF</button>
    </mat-tab>----------->
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <!--<button mat-raised-button color="primary"[disabled]="formularioServicio.invalid"(click)="guardarEditar_Servicio()">{{botonAccion}}</button> -->
  <button mat-raised-button color="primary" (click)="guardar_Cotizacion()">Guardar</button>
</mat-dialog-actions>