<h2 mat-dialog-title>{{tituloAccion}}Estado</h2>
<mat-dialog-content>
  <form [formGroup]="formularioEstado">
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="nombre">
          <mat-icon matSuffix>fit_screen</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
<!--<button mat-raised-button color="primary"[disabled]="formularioServicio.invalid"(click)="guardarEditar_Servicio()">{{botonAccion}}</button> -->
  <button mat-raised-button color="primary"(click)="guardarEditar_Estado()">{{botonAccion}}</button>
</mat-dialog-actions>
