<p>upload works!</p>
<div>
  <input (change)="capturarFile($event)" type="file">
</div>
<div>
  <button type="button" [disabled]="loading" (click)="subirArchivo">{{(loading)?'Cargando...':'Subir Archivo'}}</button>
</div>
<div *ngIf="previsualizacion">
  <img width="200px" [src]="previsualizacion" alt="">
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="first.invalid">Name is too short.</div>

  <input formControlName="first" placeholder="First name" />
  <input formControlName="last" placeholder="Last name" (change)="onChange($event)" />
  <div *ngIf="prospectImage">
    <img width="200px" [src]="prospectImage" alt="">
    <img src="{{prospectImage}}" />
  </div>

  <button type="submit">Submit</button>
</form>