
<h1 style="margin: 20px 0px 0px 40px">Prospecto</h1>

<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="nuevoProspecto()">
      <mat-icon mat-list-icon>add</mat-icon>Nuevo prospecto
    </button>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content class="dashboard-card-content">
    
    <div class="row m-0 d-flex justify-content-center flex-wrap">
      <div *ngFor="let t of listaTarjetas; let i=index" class="card col-12 m-3 p-0" style="max-width: 940px;">
        <div class="row g-0 ">
          <div class="col-md-8 columna">
            <img  src="./../../../../../assets/images/{{t.fachadaimg}}" class="rounded-start imagen-cover" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h3 class="card-title">Propuesta para:</h3>
              <h5 class="card-title">{{t.nombre}}</h5>
              <p class="card-text">{{t.direccion}}</p>
              <h3 class="card-title">Contácto</h3>
              <h5 class="card-title">{{t.razonSocial}}</h5>
              <p class="card-text">{{t.contacto}}</p>
              <h3 class="card-title">Energy Auditor</h3>
              <h5 class="card-title">{{t.idauditor}}</h5>
              
              <p class="card-text text-center"><small class="text-body-secondary">{{i}}</small></p>
    
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="card-text text-center"><small class="text-body-secondary">Los datos ingresados son suministrados para propositos administrativos  y utilizados estrictamente por HOME ENERGY </small></p>
    
    

  </mat-card-content>
</mat-card>
