<!-- AQUIN EMPIEZA LA SECCION DE PRUEBA CON PROSPECTOS--->
<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-title style="margin: 20px 40px 40px 40px">Crear Cotización</mat-card-title>
  <mat-card-content>
    <div class="container">
      <div class="barra-busqueda">
        <mat-form-field>
          <mat-label>Seleccionar</mat-label>
          <mat-select [(ngModel)]="movieToFind">
            <mat-option *ngFor="let item of listaProspectos" [value]="item.nombre"
              (click)="findMovie()">{{item.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group mi-barra">
          <input [(ngModel)]="movieToFind" type="text" class="form-control mr-3" id="inputBuscar"
            placeholder="Buscar..." (keyup)="aplicarFiltro($event)" #input>
        </div>
        <button (click)="resetListMovie()" class="btn btn-warn mb-2 mr-2"><mat-icon>restart_alt</mat-icon></button>

      </div>
    </div>

  </mat-card-content>
</mat-card>
<!------------------SEGUNDA CAJA DE CARDS-->
<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-content>
    <div class="row">
      <div *ngFor="let item of listaProspectos; trackBy:trackByItems; let i=index" class="card col-12 m-3 p-0"
        style="max-width: 340px;max-height:200px;">
        <div class="row g-0 ">
          <div class="col-md-4 columna">
            <img src="./../../../../../assets/images/{{item.fachadaimg}}" class="rounded-start" alt="...">
          </div>
          <div class="col-md-6 texto-justificado">
            <div class="card-body">
              <h5 class="card-title">{{item.nombre}}</h5>
              <p class="card-text">{{item.contacto}}</p>
              <p class="card-text">{{item.direccion}}</p>
            </div>
          </div>
          <button mat-raised-button color="primary" (click)="openDetails1(item)">
            <mat-icon mat-list-icon>add</mat-icon>Nuevo prospecto
          </button>
          <!--<div class="col-md-1 mis-botones-ocultos" >
              <button class="mi-boton-mas" id="extra" (click)="activarBotones()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
              -<div class="botones-ocultos" id="extra" [(ngModel)]="seleccion"  (click)="activarBotones()">
                -<button mat-raised-button (click)="duplicarProspecto()" >Duplicar</button>-->

          <!--<button mat-raised-button color="accent" (click)="administrar(item)">Eliminar</button>-->

        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>